<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #sensorDataTable {
            display: none;
            /* Hide the table initially */
        }
        
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<body class="light-theme">
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="/authorityHome">
                    <img src="/static/govt.png" alt="Govt logo" width="100" class="logo-light">
                    <img src="/static/govt_dark_bg.png" alt="Govt logo" width="100" class="logo-dark">
                </a>
                <div class="btn-group">

                    <button class="theme-btn theme-btn-mobile light">
                        <ion-icon name="moon" class="moon"></ion-icon>
                        <ion-icon name="sunny" class="sun"></ion-icon>
                    </button>

                    <button class="nav-menu-btn">
                        <ion-icon name="menu-outline"></ion-icon>
                    </button>

                </div>
                <div class="flex-wrapper">

                    <ul class="desktop-nav">

                        <li>
                            <a href="/authorityHome" class="nav-link">Home</a>
                        </li>

                        <li>
                            <a href="#" class="nav-link">About Us</a>
                        </li>

                        <li>
                            <a href="#" class="nav-link">Our Work</a>
                        </li>

                        <li>
                            <a href="#" class="nav-link">Contact Us</a>
                        </li>

                        {% if authority.is_logged_in %}
                        <li style="float:right;"><a href="{{ url_for('authlogout') }}">Logout, {{ authority.name }}</a></li>
                        {% endif %}

                    </ul>

                    <button class="theme-btn theme-btn-desktop light">
                        <ion-icon name="moon" class="moon"></ion-icon>
                        <ion-icon name="sunny" class="sun"></ion-icon>
                    </button>

                </div>
                <div class="mobile-nav">

                    <button class="nav-close-btn">
                        <ion-icon name="close-outline"></ion-icon>
                    </button>

                    <div class="wrapper">

                        <p class="h3 nav-title">Main Menu</p>

                        <ul>
                            <li class="nav-item">
                                <a href="/authorityHome" class="nav-link">Home</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">Our Work</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact Us</a>
                            </li>

                            {% if authority.is_logged_in %}
                            <li><a href="{{ url_for('authlogout') }}">Logout, {{ authority.name }}</a></li>
                            {% endif %}

                        </ul>

                    </div>

                    <!-- <div>
            
                        <p class="h3 nav-title">Topics</p>
            
                        <ul>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Disaster</a>
                            </li>
            
                            <li class="nav-item">
                                <a href="#" class="nav-link">Sensors</a>
                            </li>
            
                            <li class="nav-item">
                                <a href="#" class="nav-link">Prevention</a>
                            </li>
                        </ul>
            
                    </div> -->

                </div>
            </nav>
        </div>
    </header>
    <main>

        <!--
      - #HERO SECTION
    -->
        <div class="main">
            <div class="container">

                <div class="blog">
                    <div class="left">
                        <h1 class="h1">Home</h1>
                        <div id="messageContainer" class="container"></div>

                    </div>
                    <div class="mb-3">
                        <div id="map" style="height: 400px;"></div>
                    </div>
                    <button id="alertButton" class="btn btn-danger d-none" onclick="sendEmergencyAlert()">Emergency</button>
                    <table id="sensorDataTable">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Temperature</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Table content will be dynamically added here -->
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </main>

    <footer>
        <div class="container">

            <div class="wrapper">
                <a href="#" class="footer-logo">
                    <img src="/static/govt.png" alt="Govt Logo" width="150" class="logo-light">
                    <img src="/static/govt_dark_bg.png" alt="Govt Logo" width="150" class="logo-dark">
                </a>
                <p class="footer-text">
                    Government Of India
                </p>
            </div>
            <div class="wrapper">

                <p class="footer-title">Quick Links</p>

                <ul>

                    <li>
                        <a href="#" class="footer-link">Advertise with us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contact Us</a>
                    </li>

                </ul>

            </div>

            <div class="wrapper">

                <p class="footer-title">Legal Stuff</p>

                <ul>

                    <li>
                        <a href="#" class="footer-link">Privacy Notice</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Cookie Policy</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Terms Of Use</a>
                    </li>

                </ul>

            </div>

        </div>

        <p class="copyright">
            &copy; Copyright 2024 <a href="#">RakshaNetra</a>
        </p>
    </footer>
    <script>
        var socket = io.connect('http://localhost:5000');

        function calculateETA(distance, averageSpeed) {
            // Assuming averageSpeed is in km/h
            // Calculate ETA in hours
            var etaHours = distance / averageSpeed;
            // Convert hours to minutes
            var etaMinutes = etaHours * 60;
            return etaMinutes.toFixed(0); // Round to the nearest minute
        }

        function sendEmergencyAlert() {
            var distance = 10; // Example distance in kilometers
            var averageSpeed = 50; // Example average speed in km/h
            // Calculate ETA
            var etaMinutes = calculateETA(distance, averageSpeed);
            // Prepare the message with ETA
            var messageWithETA = "Authority is coming! Estimated time: " + etaMinutes + " minutes.";
            socket.emit('emergency_alert', messageWithETA);
            console.log("Socket Sent")

        }

        function updateTableData() {
            // Fetch real-time data from the Flask route
            fetch('/realtime_data')
                .then(response => response.json())
                .then(data => {
                    // Check if the data is valid before updating the table
                    if (isValidData(data)) {
                        // Update the table with new data
                        updateTable(data);
                    }
                });
        }

        function updateTable(data) {
            var tableBody = document.getElementById('sensorDataTable').getElementsByTagName('tbody')[0];
            var newRow = tableBody.insertRow();
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            cell1.textContent = data.timestamp || 'N/A';
            cell2.textContent = data.value || 'N/A';
            if (tableBody.rows.length > 10) {
                tableBody.deleteRow(0);
            }
            console.log(data)
        }

        function isValidData(data) {
            // Add your validation logic here
            // For example, check if data.timestamp and data.value exist and are of the correct type
            return data && typeof data.timestamp === 'number' && typeof data.value === 'number';
        }
        socket.on('alert_message', function(message) {
            var messageContainer = document.getElementById('messageContainer');
            var messageElement = document.createElement('p');
            var timestamp = new Date().toLocaleString();
            console.log('Alert received at:', timestamp);
            messageElement.textContent = "Alert received at: " + timestamp + " " + message;
            messageContainer.appendChild(messageElement);
            document.getElementById('alertButton').classList.remove('d-none');


        });

        var alertTriggered = false;
        var map = L.map('map').setView([0, 0], 13); // Dummy coordinates for initialization
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        socket.on('temperature_alert', function(data) {
            var temperature = data.temperature;
            var user_latitude = data.user_latitude;
            var user_longitude = data.user_longitude;
            map.setView([user_latitude, user_longitude], 13);

            // Add a marker at the specified location
            var marker = L.marker([user_latitude, user_longitude]).addTo(map);
            marker.bindPopup('Temperature alert: ' + temperature + '°C');
            if (!alertTriggered) {
                var messageContainer = document.getElementById('messageContainer');
                var messageElement = document.createElement('p');
                var timestamp = new Date().toLocaleString();
                var message = 'Temperature alert: Temperature exceeded threshold (' + temperature + '°C) ';
                console.log('Alert received at:', timestamp);
                messageElement.textContent = "Alert received at: " + timestamp + " " + message;
                messageContainer.appendChild(messageElement);
                document.getElementById('alertButton').classList.remove('d-none');
                document.getElementById('sensorDataTable').style.display = 'table';
                alertTriggered = true;
            }

            // Handle the temperature alert here, such as displaying a notification to the user
            // You can also perform other actions as needed, such as updating UI elements or logging the alert
        });
        setInterval(updateTableData, 3000);
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    <!--
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>